/************************/
/*****GENERAL STYLES****/
/**********************/

body
{
    border: 20px solid#383838;;
    color: #383838;;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
}


/***************
**** ICONS *****
***************/

#icons {
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
}

#icons {
  text-align: center;
  padding: 3em;
}

#icons img {
  height: 6em;
  width: 6em;
  padding-top: 1em;
}

#icons a {
  text-decoration: none;
  color: black;
}

/******************
***** WINDOWS *****
******************/
.window {
  border: 1px solid black;
  width: 20%;
  border-radius: 5px;
  background-color: white;
}


/* WINDOW TOP BAR  */

.window .top-bar {
  background-color: gray;
  border-radius: 4px 4px 0 0;
  color: white;
}

.window .top-bar p:first-child {
  width: 80%;
  display: inline-block;
  text-align: center;
  margin: 0;
}

.window .top-bar p:last-child {
  width: 15%;
  display: inline-block;
  margin: 0;
  text-align: right;
}


/* WINDOW CONTENT  */

.window .content {
  padding: 1em;
}

.window img {
  height: 3em;
  width: 3em;
  padding-right: .5em;
}

#about {
  top: 5%;
  left: 5%;
}

#contact {
  top: 50%;
  left: 40%;
}

#projects {
  top: 10%;
  left: 50%;
}
