/************************/
/*****GENERAL STYLES****/
/**********************/

body
{
  color: #383838;;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}


/***************
**** ICONS *****
***************/

#icons {
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
}

#icons {
  text-align: center;
  padding: 3em;
}

#icons img {
  height: 6em;
  width: 6em;
  padding-top: 1em;
}

/******************
***** WINDOWS *****
******************/
.window {
  border: 1px solid black;
  width: 20%;
  border-radius: 5px;
  background-color: white;
}


/* WINDOW TOP BAR  */

.window .top-bar {
  border-bottom: 1px solid black;
  border-radius: 4px 4px 0 0;
  padding: .25em;
}

.window .top-bar p:first-child {
  width: 80%;
  display: inline-block;
  text-align: center;
  margin: 0;
}

.window .top-bar p:last-child {
  width: 15%;
  display: inline-block;
  margin: 0;
  text-align: right;
}


/* WINDOW CONTENT  */

.window .content {
  padding: 1em;
}

.window img {
  height: 3em;
  width: 3em;
  padding-right: .5em;
}

#about {
  width: 50%;
  height: 350px;
  top: 5%;
  left: 5%;
  overflow: scroll;
}

#connect {
  top: 5%;
  left: 5%;
  display: none;
  text-align: center;
}

#projects {
  top: 5%;
  left: 5%;
  display: none;
  width: 40%;
}

#projects img {
  margin: 0 1em auto;
}

#projects a:hover {
  color: red;
}

#projects a {
  display: inline-block;
  padding: 1em;
}

p[id^=exit], div[id$=icon] {
  cursor: pointer;
}


/******************
***** MOBILE *****
******************/
#mobile {
  display: none;
}

@media (max-width: 500px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }

  h1, #mobile-contact { text-align: center }

  a:hover { color: yellow; }
}
