@import url('https://fonts.googleapis.com/css?family=Crete+Round|Nunito:200|Open+Sans:400,700');


/*Colors:*/
  /*green: 87b63f */
  /*blue: 4dbfa9*/
  /*red: d55a27 */
  /*purple: a767aa*/

/******************/
/*****  BASIC ****/
/******************/

/* FONTS */
body {
  font-family: 'Open sans', serif;
}

h1, nav {
  font-family: 'Nunito', sans-serif;
}


/* COLORS */
.gray-text {
  color: #b3aca7;
}

.green-shadowed-text {
  color: #87b63f;
  text-shadow: 1px 2px #7ea342;
}

/*********************/
/*****  SECTIONS ****/
/*******************/

header {
  text-align: center;
  letter-spacing: 7px;
}

header section {
  width: 60%;
  margin: 0 auto;
}

header p {
  font-size: 1.5em;
}

nav {
  margin-top: 2%;
}

h1 {
  font-size: 7em;
  line-height: 1em;
}

h2 {
  font-size: 3em;
  text-shadow: 1px 2px #6b6b6b;
}

a {
  text-decoration: none;
}


ul {
  list-style-type: none;
}

ul li {
  display: inline;
}





/* MEDIA QUERIES */

@media (max-width: 1000px) {

}

@media (max-width: 700px) {

}

@media (max-width: 550px) {

}

@media (min-height: 900px) {

}

@media (min-height: 1300px) {

}
